<div class="flex justify-content-between gap-3">
    <div class="flex align-items-center gap-3 p-input-icon-left">
        <i class="pi pi-search" style="color: var(--cyan-800)"></i>
        <input [(ngModel)]="searchValue" type="text" placeholder="Поиск" class="serach-field"/>
        <button type="button" class="serach-btn" (click)="onSearch()">Поиск</button>
    </div>
    <button routerLink="/courses/new" type="button" class="add-btn flex gap-2 align-items-center justify-content-center">
        <i class="pi pi-plus"></i>
        <span>Добавить курс</span>
    </button>
</div>
