<div class="card p-4 flex flex-column gap-3 course" [ngClass]="{'is-rated': course.topRated}" [courseBorder]="course.dateCreation">
    <div class="flex justify-content-between gap-4 w-12">
        <h3>{{course.title | uppercase}}
            <i *ngIf="course.topRated" class="pi pi-star-fill" style="vertical-align: top; color: var(--yellow-400)"></i>
        </h3>
        <div class="flex gap-3">
            <span class="text-sm" style="color: var(--cyan-800)">
                <i  class="pi pi-clock" style="font-size: 1rem; color: var(--cyan-800)"></i>
                {{course.duration | duration}}
            </span>
            <span class="text-sm" style="color: var(--cyan-800)">
                <i  class="pi pi-calendar" style="font-size: 1rem; color: var(--cyan-800)"></i>
              {{course.dateCreation | date: 'dd MMMM YYYY года': undefined : 'ru'}}
            </span>
        </div>
    </div>
    <div class="flex justify-content-between gap-4 w-12 align-items-start">
        <p>{{course.description}}</p>
        <div class="flex gap-2">
            <p-button (onClick)="onEdit(course)" icon="pi pi-pencil" styleClass="p-button-rounded p-button-info p-button-text"></p-button>
            <p-button (onClick)="onDelete(course.id)"icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
        </div>
    </div>
</div>
